.info-box {
    background-color: #c9b4b4;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-box h2 {
    color: #333;
    font-size: 24px;
    margin: 0;
}

.countries-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.countries-container .bold-label {
    font-weight: bold;
    margin-right: 5px;
}

#countries {
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
}



